@font-face {
  font-family: 'Anakotmai';
  font-weight: bold;
  src: url('./Anakotmai-Bold.otf') format('woff');
}

@font-face {
  font-family: 'Bai Jamjuree';
  src: url('./BaiJamjuree-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Bai Jamjuree';
  font-weight: bold;
  src: url('./BaiJamjuree-Bold.ttf') format('truetype');
}
